body {
    background-color: black;
    color: white;
    padding-top: 110px;
    font-family: Arial;
}


#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}


/* Page title */
h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* Orders container */
#orders {
    max-width: 900px;
    margin: auto;
}

/* Order card */
.order_card {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    border-left: 5px solid orange;
}

/* Card text */
.order_card h3 {
    margin: 0 0 10px 0;
    color: orange;
}

.order_card p {
    margin: 4px 0;
    color: #ccc;
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}

