body {
    background: black;
}

#p1 {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 15px 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

#p1 a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#p1 a:hover {
    color: #f39c12;
}

#logo {
    width: 100px;
    height: 55px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* SEARCH BOX */
.search-box {
    color: white;
    margin: 140px 50px;     /* moved UP by reducing top/bottom space */
    max-width: 450px;
    font-family: Arial;
}

.search-box h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.search-box p {
    font-size: 14px;
    margin: 15px 0 25px;
    color: #d5d5d5;
}

.search-area {
    display: flex;
}

.search-area input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px 0 0 6px;
}

.search-area button {
    padding: 12px 20px;
    background: #f39c12;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.search-area button:hover {
    background: #d8890f;
}

/* WHY SECTION */
.why-section {
    color: white;
    margin: -10px 50px;  /* moved UP */
    font-family: Arial;
}

.why-section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.why-section p {
    font-size: 18px;
    margin-bottom: 15px;
}

.why-section ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    line-height: 2.2;
}

.why-section li {
    font-size: 20px;
    font-weight: bold;
}



.reviews-section {
    color: white;
    margin: 10px 50px;
    font-family: Arial;
}

.reviews-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.review-boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* so they go to next line on small screens */
}

.review {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 15px 20px;
    width: 260px;
}

.stars {
    color: #f4c542;
    font-size: 18px;
    margin-bottom: 8px;
}

.review p {
    font-size: 14px;
    margin-bottom: 10px;
}

.review h4 {
    font-size: 14px;
    margin: 0;
    color: #d5d5d5;
}
