body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("../../../images/admin_bg.png"); 
        background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;
        background-size: cover;
}


header {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 30px;
    border-bottom: 1px solid #222;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gold;
    font-weight: bold;
}

.brand img {
    width: 40px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 22px;
}

.icon-link img {
    width: 26px;
}

.logout {
    text-decoration: none;
    color: gold;
    font-weight: 600;
}

main {
    min-height: calc(100vh - 70px);
    padding: 40px 30px;

    display: flex;
    flex-direction: column;
}

.welcome-card {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.welcome-card h2 {
    margin-top: 0;
    font-size: 26px;
}

.welcome-card p {
    color: #ccc;
    margin-bottom: 25px;
}

.stats {
    display: flex;
    gap: 40px;
}

.stats div {
    text-align: center;
}

.stats strong {
    font-size: 24px;
    color: #f5c842;
}

.stats span {
    font-size: 13px;
    color: #ccc;
}

.actions-wrapper {
    flex-grow: 1;            
    display: flex;
    align-items: center;        
}

.admin-actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.admin-btn {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(20, 20, 20, 0.85);
    border: 1px solid #444;
    border-radius: 14px;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
}

.admin-btn:hover {
    background: rgba(40, 40, 40, 0.95);
    border-color: #666;
}
