body {
    background-color: black;
    color: white;
    padding-top: 110px;
    font-family: Arial;
}

#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}
