h1{
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}




#selector {
    text-align: center;
    margin-top: 60px;
}

#selector a {
    color: white;
    text-decoration: none;
}

#selector a:hover {
    color: orange;
}



#family {
    text-align: center;
}

.family-box {
    width: 30%;
    background-color: #222;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: top; 
}

.family-box img {
    width: 200px;
    height: 120px;
}


#sports {
    text-align: center;
}

.sports-box {
    width: 40%;
    background-color: #222;
    border: 1px solid white;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.sports-box img {
    width: 300px;
    height: 180px;
}



#footer {
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}

