#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p{
    text-align:center;
}

#selectors {
    text-align: center;
    margin: 20px;
}

select {
    padding: 6px;
    margin: 0 10px;
}

#comparison-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
}



#footer {
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}





#selectors button {
    background: orange;
    color: black;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

#selectors button:hover {
    background: darkorange;
}
