body {
    background-color: black;
    color: white;
    padding-top: 110px;
    font-family: Arial;
}

#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}



#cart {
    text-align: center;
}

.cart-box {
    width: 40%;
    background-color: #222;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    vertical-align: top;
}

.cart-box img {
    width: 220px;
    height: 130px;
}

#checkout_btn {
    padding: 10px 20px;
    background: orange;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#checkout_btn:hover {
    background: darkorange;
}
