body {
    background-color: black;
    color: white;
    padding-top: 110px;
}

/* Center the form */
form {
    width: 400px;
    margin: 40px auto;
    background: #111;
    padding: 25px;
    border-radius: 8px;
}

/* Headings */
h1 {
    text-align: center;
    color: orange;
}

/* Labels */
label {
    color: #ccc;
    font-size: 14px;
}

/* Inputs & Select */
input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background: #222;
    color: white;
    border: 1px solid #444;
}

/* Radio buttons spacing */
input[type="radio"] {
    margin-right: 5px;
}

/* Textarea */
textarea {
    resize: vertical;
    height: 80px;
}

input[type="submit"] {
    background: orange;
    color: black;
    border: none;

    padding: 14px;              /* bigger button */
    width: 100%;                /* full width already good */
    font-size: 16px;            /* more prominent text */
    font-weight: bold;

    cursor: pointer;
    margin-top: 20px;           /* better spacing from form fields */
    border-radius: 6px;         /* slightly smoother */
}

input[type="submit"]:hover {
    background: darkorange;
}





#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}