body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f5fb;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 360px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}



#logo {
    width: 70px;
    margin-bottom: 15px;
}

#box h2 {
    margin-bottom: 25px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}


.field {
    text-align: left;
    margin-bottom: 20px;
}

.field label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#btn_reset {
    width: 100%;
    padding: 12px;
    background: black;
    color: gold;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

#btn_reset:hover {
    background: #2b2b2b;
}


.back {
    margin-top: 20px;
}

.back a {
    color: #5b4df5;
    font-size: 14px;
}

::placeholder {
    font-size: 14px;
}
